
.selectedPage {
    font-weight: bold;
    padding: 2px;
    margin: 2px ;

}
.currentPage{
    width: 100vh;
    display: flex;
    justify-content: center;
}
.span{

    padding: 2px;
    margin: 2px ;
}
.button{
    margin:0 2px ;
}
