
.container {
    display: flex;

    justify-content: flex-start;
    padding: 2rem 2rem;



}

.wrapper {
    display: inline-block;
    width: 20rem;
    height: 7rem;
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-left: 1rem;
    border: 1px solid grey;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 6rem;
}

.top {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.name {
    color: #6A6791;
    overflow: hidden
}

.status {
    color: #A8BCA3;
    padding-top: .7rem;

}

.button {
    width: 4rem;
}

.city {
    color: #2D4627;
}

.avatar {
    width: 50px;
}

.selectedPage {
    font-weight: bold;

}
.currentPage{
    width: 100vh;
    overflow: hidden;
}
