
.header {
    grid-area: h;

    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2rem;


}

.img {
    width: 3rem;
    height: 3rem;

}

.login {
   padding-right: 8rem;

}