
.img1 {
    background-color: rgb(98, 96, 192);
    width: 100%;
    height: 7rem;
}

.userInfo {
    display: flex;
    padding: 50px;
}

.img {
    width: 5rem;
    margin-bottom: 1rem;


}

.about {
    flex-direction: column;
    padding: 0 0 0 2rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapContact {
    margin-left: 0.5rem;
}